body{
    background-color: #364371;
}


#wrap{
    width: 600px;

}

#content{
    background-color: #5b7fbd;
    width: 400px;
    display: inline-block;
}


#nav{
    background-color: #b0cfff;
    display: inline-block;
    float: left;
    text-align: center;
    width: 20%;
    height: 497px;

}