@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

@media (max-width: 800px) {
    /* Card */

    .the-way-map{
        display: none;
        align-items: center;
    }


    #the-way .wide-the-way-box{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    .wide-the-way-box .card{  
        width: 100%;
        height: auto;
        top: 60px;
    }


    .wide-the-way-box .story-box{
        width: 100%;
    }

    .pano-text .pano-header{
        font-size: 8vw;
    }
    }

    @media  (max-height: 650px)  {
        .the-way-map{
            display: none;
            align-items: center;
        }
    } 

    /* Side header */

    @media (max-width: 1000px) {
    #friends-box .friends{
        border: 0;
    }
    #friends-box .side-header{
        position: static;
        transform-origin: 0 0%;
        transform: rotate(0deg) translate(0%,0%);
    }
    }
    
/* body */
        
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    font-family: 'Josefin Sans', sans-serif;
}


/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 30px;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 999;
  }

.menu{
    list-style-type: none;
    display: flex;
    margin-left: 10vw;
    flex-direction: row;
    font-size: 4vh;
    height: 100%;
    align-items: center;
    padding-bottom: 5px;
}
.menu-item{ 
    text-align: center;
    justify-content: center;
}
.menu-item a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2vw;
    margin-right: 2vw;
}

.fa {
    font-size: 4vh;
    width: 4vh;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-right: 5vh;
  }

.menu-item a, .fa{
    color: #61524B;
    text-decoration: none;
}
.menu-item a:hover, .fa:hover{
    cursor: pointer;
    color: #FF8846;
}

.pano-picture{
    background-image: url("media/full-width-pano.jpg");
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pano-header{
    font-size: 8vh;
    color: white;
}

#ph1{
    position: absolute;
    top: 25vh;
    left: 10vw;
}

#ph2{
    position: absolute;
    bottom: 10vh;
    right: 5vw;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column ;
}

/* The way */
#the-way{
    display: flex;
    flex-direction: column;
    width: 90vw;
    align-items: center;
    justify-content: center;
}

.wide-the-way-box{
    margin: 3vh;
    display:  flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border-radius: 5px;
    transition: 0.3s;
    width: 90%;
}

.card{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 90vh;
    text-align: center;
    justify-content: center;
    transition: 0.3s;
    background-color: white;
    position: sticky;
    top: 60px;
    padding: 2px;
}
        /*map */
.the-way-map{
    position: relative;
    width: 30vw;
    height: 30vw;
    min-width: 350px;
    min-height: 350px;
    max-width: 450px;
    max-height: 450px;
    border-radius: 50%;
    overflow: hidden;
    margin: 50px auto 50px auto;
}

.googlemap {
    width: 100%;
    height: 100%;
  }

  .place-name{
    font-size: 5vh;
  }

  .place-description{
    font-size: 3vh;
  }
    /* story-box */

.story-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
    font-size: 2vh;
    transition: 0.3s;
    align-items: center;

}

.story-article{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 3vh;
    width: 90%;
    border-radius: 5px; 
    margin: 1vh 1vh 5vh 1vh;
}

.story-image{
    width: 100%;
    background-repeat: no-repeat;
    margin-bottom: 1vh;
    transition: transform .5s; 
}

.story-image:hover{
    transform: scale(1.2);
}

/* Friends */

.friends-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 10px;
}

.side-header{
    display: flex;
    flex-direction: row;
    transform-origin: 0 50%;
    transform: rotate(-90deg) translate(-50%,50%);
    position: relative;
    right: 3vw;
    bottom: 35vh;
    height: 5vh;
}

.box-name{
    font-size: 5vh;
    line-height: 3vh;
}

.friends{
    width: 90vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border-left: solid 5px black;
}

.friend-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin: 3vh;
}

.friend-image{
    width: 20vw;
    height: 20vw;
    min-width: 200px;
    min-height: 200px;
    border-radius: 50%;
}

.friend-description{
    font-size: 3vh;
    margin-top: 1vh;
}

.footer-box{
    display: flex;
    flex-direction: row;

}

.copyright{
    font-size: 2vh;
    text-align: center;
    margin-top: 5vh;
}
