
          * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
          }
          body {
            width: 90%;
            margin: 0px 10px;
          }
          div,footer {
            display: inline-block;
            height: 100px;
          }
          .container {
              margin-top: 30px;
          width: 100%;
        }
        .block-left, .block-right, footer {
          border: 3px solid black;
        }
        .block-left {
          width: 35%;
          background: red; 
          margin-right: 3%;
        }
        .block-right {
          width: 60%;
          background: lightblue;
        }
        footer {
          width: 98.5%;
          background: yellow;
        }
